
/* This file contains all css relating to colour, the settings here are for the light theme */

/*  Colour Scheme   */
:root {
    --window-background: #E2FFF2;
    --text: #000;

    --button-background: #C3E8E2;
    --button-background-action: #D7FFD6;
    --button-hover: #b6afa5;

    --checkbox-unchecked: #55FFC0;
    --checkbox-hover: #2EC4EB;
    --checkbox-checked: #35E862;

    --input-unselected: #2e3b16;
    --input-selected: #98c548;
    --input-underline-deselected: #D1C4E9;
    --input-underline-selected: #673AB7;
}