
/* This file contains all css not relating to colour, the settings here relate to all themes */

body {
    height: 400px;
    width: 610px;
    background: var(--window-background);
    color: var(--text);
}

p {
    font-size: 20px;
}

.button_currentPage {
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border: none;
    width: 200px;
    letter-spacing: 1px;
    color: var(--text);
    background: var(--window-background);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

button {
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border: none;
    transition: all 0.4s ease 0s;
    width: 200px;
    cursor:pointer;
    color: var(--text);
    background: var(--button-background);
}

button:disabled {
    opacity: 0.5;
    transition: disabled;
    background: rgb(192, 192, 192) !important;
}

button:hover:enabled {
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    background: var(--button-hover);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

button:focus:enabled {
    outline:none;
}

form {
    display: inline-block;
}

input, select, textarea {
  color: var(--text);
}











/*  Checkbox    */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container:hover input ~ .checkmark {
  background-color: var(--checkbox-hover);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--checkbox-unchecked);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
  background-color: var(--checkbox-checked);
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
  border-radius: 50%;
	background: var(--text);
}











/*  Input Box   */
  
.page {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    
    display: grid;
    grid-gap: 30px;
    align-items: flex-end;
    order: 1;
  }
  
  @media (min-width: 50px) {
    .page {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  .field {
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #673AB7;
  }
  
  .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    -webkit-appearance: none;
  
    font-family: inherit;
    font-size: 1em;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
  }
  
  .a-field{
    display: inline-block;
  }
  
  .a-field__input{ 
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
  }
  
  .a-field__input:focus{
    outline: none;
  }
  
  .a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);  
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
  
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   
  
    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;  
  }
  
  .a-field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
  }
  
  .a-field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
  }
  
  .a-field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);	
  
    pointer-events: none;
    cursor: text;
  
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 20px;
  }
  
  .a-field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);
  
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
  
    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
  }
  
  .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
  }
  
  .a-field_a2 .a-field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
  
    position: absolute;
    bottom: 0;
    left: 0;  
  
    will-change: width;
    transition: width .285s ease-out;
  }
  
  .a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after{
    width: 100%;
  }