
/* This file contains all css relating to colour, the settings here are for the dark theme */

/*  Colour Scheme   */
:root {
    --window-background: #443737;
    --text: #fff;

    --button-background: #115173;
    --button-background-action: #9c32da;
    --button-hover: #49505a;

    --checkbox-unchecked: #eee;
    --checkbox-hover: #ccc;
    --checkbox-checked: #2196F3;

    --input-unselected: #d1C4e9;
    --input-selected: #673ab7;
}