
/* This file contains all css relating to colour, the settings here are for the dark theme */

/*  Colour Scheme   */
:root {
    --window-background: #3a342f;
    --text: #fff;

    --button-background: #aa5b2d;
    --button-background-action: #f17d39;
    --button-hover: #5a5149;

    --checkbox-unchecked: #eee;
    --checkbox-hover: #ccc;
    --checkbox-checked: #f17d39;

    --input-unselected: #f39c69;
    --input-selected: #f17d39;
    --input-underline-deselected: #f71c0c;
    --input-underline-selected: #09cf2a;
}