
/* This file contains all css relating to colour, the settings here are for the light theme */
/* TODO: Figure out a good light colour scheme */

/*  Colour Scheme   */
:root {
    --window-background: #bbc8c8;
    --text: #000;

    --button-background: #eeae8c;
    --button-background-action: #63cd25;
    --button-hover: #b6afa5;

    --checkbox-unchecked: #111111;
    --checkbox-hover: #333333;
    --checkbox-checked: #de690c;

    --input-unselected: #2e3b16;
    --input-selected: #98c548;
}